* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.App {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .App main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20em;
    height: 100%;
    border: 1px solid red;
    width: 500px; }

.mainButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; }
  .mainButtons button {
    padding: 1em;
    width: 21em;
    margin: 1em; }

.training__items {
  height: 100%;
  border: 1px solid blue; }

.training__item {
  display: flex; }

p {
  padding: 1em;
  border: 1px solid black; }
